npm-debug.log
node_modules
.DS_Store
*.tmp
*~
*.log
dist
public/dist
es6
public
.babelrc
inde.html
package.json
package-lock.json
gulpfile.js
.eslintrc.js

git pull --rebase https://github.com/Arhis-Onlight/Calc.git